
<%- include('../partials/header') %>

<h2>Skill List</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Skill</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <% skills.forEach(function (s) { %>
      <tr>
        <td>
          <a href ="/skills/<%= s.id %>"><%= s.id %> </a>
        </td>
        <td><%= s.skill%></td>
        <td><%= s.done %></td>
        <td>
          <form
          action="/skills/<%= s.id %>?_method=DELETE"
          method="POST"
          class="delete-form"
          >
          <button type="submit">X</button>
          </form>
        </td>
      </tr>
    <% }) %> 
  </tbody>
</table>
<br>

<a href="/skills/new"> Add a new skill</a>

<%- include('../partials/footer') %>
